//Component colors

$component-colors: (
	white:	(base:#ffffff, font: #666666, over:#e5e5e5),
	black:	(base:#000000, font: #ffffff, over:#626262),
	default:	(base:#e5e5e5, font: #666666, over:#ffffff),
	blue:	(base:#0a304e, font: #FFFFFF, over:#3168a6),
	grey:	(base:#626262, font: #FFFFFF, over:#787878)
);